.app-container {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    align-items: flex-start;
}

.user-greeting {
    padding-left: 50px;
}

.greeting {
    font-size: 48px;
}

.user-name {
    color: red;
}

.congratulations {
    font-size: 18px;
}

.chart-and-stats-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

.charts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.graphs-container {
    display: flex;
    flex-direction: row; 
    gap: 20px;
}

.nutrition-stats {
    flex-shrink: 0;
    width: 250px;
}
